.game {
    background-color: black;
    height: 100vh;
    border: 5px solid white;
    position: relative;
}

.title {
    color: antiquewhite;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center ;
}

.flex-button{
    display: flex;
    justify-content: center; /* centrado horizontal */
    align-items: flex-end;   /* abajo vertical */
    height: 30vh;           /* ocupa toda la pantalla */
}

.flex-container{
    display: flex;
    justify-content: space-around;
}

.caja-container {
    width: 40%;
    height: 80%;
}

#caja_dos {
    display: flex;
    justify-content: end;
    height: 80%;
}

#caja_boton {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.caja{
    border: 5px solid white;
    background-color: white;
    color: white;
    width: 35px;
    height: 200px;
}

.ball {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%; /* la hace redonda */
}

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;   /* centra vertical */
    height: 60vh;          /* espacio donde vive la bola */
}
